body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: sans-serif;
}

.header,
.footer {
    color: whitesmoke;
    background-color: rgb(19, 0, 124);
    padding: 25px;
    text-align: center;
}

.navbar {
    float: right;
}

.scroll {
    margin-left: 10px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

img {
    width: 70%;
}

.content {
    text-align: center;
    margin: 0px 25px;
}

.content p {
    text-align: justify;
}

.footer {
    padding: 1px;
}
